{% extends "layout.nunjucks" %}

{% block meta %}
  <title>Red Dust</title>
  <meta name="description" content="Health development organisation in remote indigenous communities">
{% endblock %}

{% block id %}landing{% endblock %}

{% block main %}

  <section id="video-hero">
    <iframe src="https://player.vimeo.com/video/192058587?background=1" frameborder="0"></iframe>
    <div>
      <h1>Health promotion
        <span>in remote Indigenous
          <br>communities</span>
      </h1>
      <a class="icon" href="#about-link">
        <img src="/assets/img/icons/down-arrow.svg"/><img src="/assets/img/icons/down-arrow-hover.svg"/></a>
    </div>
  </section>

  <section id="about-link">
    <div>
      <h3>Red Dust delivers innovative health promotion programs and community development projects in partnership with remote communities.</h3>
      <h4>We encourage Indigenous youth to learn more about health and make healthy lifestyle choices through the mentoring and influence of positive role models in sport, art, music and dance.</h4>
      <a href="/about/mission-and-values" class="button large rust">About</a>
    </div>
  </section>

  <section id="where-we-work">
    <div>
      <h1>Where we work</h1>
      <img src="/assets/img/landing/red-dust-program-map@2x.png"/>
    </div>
  </section>

  <section id="impact" id="scroll-to">
    <div>
      <h1>Impact this year</h1>
      <div>
        <div class="counter-wrapper">
          <h1 value="1709">1,709</h1>
          <h4>Youth engaged</h4>
        </div>
        <div>
          <img src="/assets/img/landing/home-impact-rolemodel-icon@2x.png"/>
          <h4>
            <span>71
            </span>Role models</h4>
        </div>
        <div class="counter-wrapper">
          <h1 value="1955">1,955</h1>
          <h4>Community members</h4>
        </div>
      </div>
      <a href="/work/what-we-do#impact" class="button large cream">View full infographic</a>
    </div>
  </section>

  <section id="how-you-can-help">
    <div>
      <h1>How you can help</h1>
      <p>There are many ways you can contribute</p>
      <ul>
        <li>
          <a href="/support">
            <div><img src="/assets/img/landing/home-help-thumbnail-sponsor.jpg"/></div>
            <h3>Sponsor</h3>
          </a>
        </li>
        <li>
          <a href="/support">
            <div>
              <img src="/assets/img/landing/home-help-thumbnail-givetime.jpg"/></div>
            <h3>Give time</h3>
          </a>
        </li>
        <li>
          <a href="/support">
            <div><img src="/assets/img/landing/home-help-thumbnail-fundraise.jpg"/></div>
            <h3>Fundraise</h3>
          </a>
        </li>
        <li>
          <a href="/support">
            <div><img src="/assets/img/landing/home-help-thumbnail-donate.jpg"/></div>
            <h3>Donate</h3>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="partners" class="tiles partners">
    <div>
      <h1>Our partners</h1>
      <p>Red Dust Role Models would not exist without the invaluable support of our partners.</p>
      <ul>
        {% for partner in partners %}
          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/partners/{{partner.logo}}"/>
                </div>
                <div class="back">
                  <h2>{{partner.name}}</h2>
                  <p>{{partner.intro}}</p>
                  <a href="{{partner.url}}" title="{{partner.name}}" target="_blank" class="button">Website</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="modals">
    <div>
      <div class="overlay">
        <div class="modal">
          {% include "partials/close-icon-svg.html" %}
          <div class="content">
            <div class="img"></div>
            <div class="bio"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
