{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Curriculum</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}curriculum{{/replace}}

  {{#replace "main"}}

    <!-- <section id="hero">
      <img src="" />
    </section> -->

    {{> work-nav}}

    {{> coming-soon}}

  {{/replace}}
{{/extend}}
