{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Red Dust</title>
    <meta name="description" content="Health development organisation in remote indigenous communities">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <p>We are hard at work!</p>
        <p>Website coming soon</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
