{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Red Dust</title>
    <meta name="description" content="Health development organisation in remote indigenous communities">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>

        <h1>Health promotion <span>in remote Indigenous <br>communities</span></h1>
        <a href="#about-link"> <img src="/assets/img/icons/down-arrow.svg" /></a>

      </div>
    </section>

    <section id="about-link">
      <div>

        <h3>Red Dust delivers innovative health promotion programs and community development projects in partnership with remote communities.</h3>
        <h4>We encourage Indigenous youth to learn more about health and make healthy lifestyle choices through the mentoring and influence of positive role models in sport, art, music and dance.</h4>
        <a href="/about" class="button rust">About</a>

      </div>
    </section>

    <section id="where-we-work">
      <div>

        <h1>Where we work</h1>
        <p>Click on a location to see what we’ve done there</p>
        <img src="/assets/img/landing/red-dust-program-map@2x.png" />

      </div>
    </section>

    <section id="impact">
      <div>

        <h1>Impact this year</h1>
        <div>
          <div>
            <h1>1,709</h1>
            <h4>Youth engaged</h4>
          </div>
          <div>
            <img src="/assets/img/landing/home-impact-rolemodel-icon@2x.png" />
            <h4><span>71</span> Role models</h4>
          </div>
          <div>
            <h1>1,955</h1>
            <h4>Community members</h4>
          </div>

        </div>
        <a href="" class="button">View full infographic</a>
      </div>
    </section>

    <section id="how-you-can-help">
      <div>
        <h1>How you can help</h1>
        <p>There are many ways you can contribute</p>
        <ul>
          <li>
            <a href="">
              <h3>Sponsor</h3>
              <img src="/assets/img/landing/home-help-thumbnail-sponsor.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <h3>Give time</h3>
              <img src="/assets/img/landing/home-help-thumbnail-givetime.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <h3>Fundraise</h3>
              <img src="/assets/img/landing/home-help-thumbnail-fundraise.jpg" />
            </a>
          </li>
          <li>
            <a href="">
              <h3>Donate</h3>
              <img src="/assets/img/landing/home-help-thumbnail-donate.jpg" />
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section id="partners">
      <div>
        <h1>Our partners</h1>
        <p>Red Dust Role Models would not exist without the invaluable support of our partners.</p>


        <ul>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg" width="80%" height="80%" />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg" width="80%" height="80%" />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg"  />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <img src="/assets/img/landing/partners/partner-johnsonjohnson.jpg" width="80%" height="80%" />
                </div>
                <div class="back">
                  <h3>Johnson &amp; <br>Johnson</h3>
                  <p>In early 2015, Johnson &amp; Johnson signed on to partner with Red Dust to support our Healthy Living initiatives in the Kintore community.</p>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
