<!DOCTYPE HTML>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright 2016 all rights reserved by Jan Werkhoven">
    <meta name="developer" content="Jan Werkhoven jan@nabu.io www.nabu.io">
    <meta name="robots" content="index, follow">

    {{#block "meta"}}
      <title>Red Dust</title>
      <meta name="description" content="Health development organisation in remote indigenous communities">
    {{/block}}

    <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/main.js"></script>

    {{> favicons}}

  </head>

  <body id="{{#block "body-id"}}{{/block}}" class="{{#block "body-class"}}{{/block}}">

    {{> header}}
    <main>
      {{#block "main"}}{{/block}}
    </main>
    {{> footer}}

    <div id="outdated"></div>
    <script src="/assets/js/outdated-browser.min.js" type="text/javascript"></script>

  </body>
