{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Mission &amp; Values</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}about-mission{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <img src="" alt="" />
    </section>

    {{> about-nav}}

    <section id="mission">
      <img src="/assets/img/about/placeholder.jpg" alt="" />
      <div>
        <h2>Mission &amp; values</h2>
        <p>Generations of Indigenous Australians in remote communities have lived a life impacted by poor health. This affects the whole community, especially young people. Red Dust believes that good health is the key to a bright future and that health
          outcomes can only be made possible through a two-way exchange with communities.</p>
      </div>
    </section>

    <section id="mantra">
      <ul>
        <li>
          <p>We are hands on &amp; work with integrity</p>
        </li>
        <li>
          <h2>Real</h2>
          <img src="" alt="" />
        </li>
        <li>
          <h2>Ready</h2>
          <img src="" alt="" />
        </li>
        <li>
          <h2>Respectful</h2>
          <img src="" alt="" />
        </li>
      </ul>

      <div>
        <img src="/assets/img/about/placeholder.jpg" alt="" />
      </div>
    </section>

    <section id="vision">
      <h2>Our vision is to see healthy remote Indigenous communities.</h2>
    </section>

  {{/replace}}
{{/extend}}
