#programs {
  background-color: $reddust-yinnar;

  #work-nav {
    a[href="/work/programs"] {
      color: $reddust-gold;
    }
  }

  #intro {
    background-color: $reddust-cream;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 525px;
      box-sizing: border-box;
      text-align: center;
      h2 {
        font-family: $montserrat-bold;
        text-transform: uppercase;
        color: $reddust-rust;
        margin: 20px;
      }
      p {
        line-height: 200%;
        max-width: 760px;
      }
    }
  }

  section.program-slider {
    position: relative;
    height: 700px;
    nav {
      img {
        position: absolute;
        width: 40px;
        top: 50%;
        padding: 20px;
        transform: translateY(-40px);
        cursor: pointer;
        z-index: 1;
        &:hover {
          opacity: 0.7;
        }
        &.prev {
          left: 10vw;
        }
        &.next {
          right: 10vw;
        }
      }
    }
    ul {
      position: absolute;
      left: 0;
      top: 0;
      width: 500vw;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      li {
        width: 100vw;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .slide-1 {
          h1 {
            font-size: 48px;
            max-width: 420px;
            line-height: 130%;
          }
        }
        h2 {
          font-size: 20px;
        }
        h3 {
          font-family: $montserrat-bold;
          font-size: 18px;
          margin-top: 20px;
        }
        .see-more {
          position: absolute;
          color: $reddust-cream;
          text-align: center;
          text-transform: uppercase;
          font-size: 15px;
          right: 15vw;
          max-width: 90px;
        }
      }
    }
    &#healthy-living {
      .slide-1 {
        background-image: url('/assets/img/work/programs/healthy-living-1.jpg');
      }
      .slide-2 {
        background-image: url('/assets/img/work/programs/healthy-living-2.jpg');
      }
      .slide-3 {
        background-image: url('/assets/img/work/programs/healthy-living-3.jpg');
      }
      .slide-4 {
        background-image: url('/assets/img/work/programs/healthy-living-4.jpg');
      }
    }
    &#strong-yount-men {
      .slide-1 {
        background-image: url('/assets/img/work/programs/strong-young-men-1.jpg');
      }
      .slide-2 {
        background-image: url('/assets/img/work/programs/strong-young-men-2.jpg');
      }
      .slide-3 {
        background-image: url('/assets/img/work/programs/strong-young-men-3.jpg');
      }
      .slide-4 {
        background-image: url('/assets/img/work/programs/strong-young-men-4.jpg');
      }
    }
    &#strong-young-women {
      .slide-1 {
        background-image: url('/assets/img/work/programs/strong-young-women-1.jpg');
      }
      .slide-2 {
        background-image: url('/assets/img/work/programs/strong-young-women-2.jpg');
      }
      .slide-3 {
        background-image: url('/assets/img/work/programs/strong-young-women-3.jpg');
      }
    }
  }
}
