<li class="active">
  <img src="/assets/images/people/martin-hirons-temporary.png" alt="Martin Hirons - Director at Red Dust" />
  <h2>Martin Hirons</h2>
  <div class="name">
    <h2>Martin Hirons</h2>
    <h3>Director</h3>
  </div>
  <div class="modal">
    <h2>Martin Hirons</h2>
    <h3>Director</h3>
    <p>Martin Hirons has spent his career in the sport business sector and brings a wealth of experience to the Red Dust leadership team. In addition to his role as Chairman of Red Dust Role Models, Martin is the Managing Director of Sport Business Partners, a boutique consulting company working with a range of clients in the Australian sport and events industry. His core expertise is based around business strategy and market research.</p>
  </div>
</li>
<li>
  <img src="/assets/images/people/linley-frame-temporary.png" alt="Linley Frame - Volunteer at Red Dust" />
  <h2>Martin Hirons</h2>
  <div class="name">
    <h2>Martin Hirons</h2>
    <h3>Director</h3>
  </div>
  <div class="modal">
    <h2>Linley Frame</h2>
    <h3>Volunteer</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</li>
<li>
  <img src="/assets/images/people/martin-hirons-temporary.png" alt="Adam Thompson - Coordinator at Red Dust" />
  <h2>Adam Thompson</h2>
  <div class="name">
    <h2>Martin Hirons</h2>
    <h3>Director</h3>
  </div>
  <div class="modal">
    <h2>Adam Thompson</h2>
    <h3>Coordinator</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</li>
<li>
  <img src="/assets/images/people/kyle-vander-kuyp-temporary.png" alt="Martin Hirons - Director at Red Dust" />
  <h2>Kyle Vander Kuyp</h2>
  <div class="name">
    <h2>Martin Hirons</h2>
    <h3>Director</h3>
  </div>
  <div class="modal">
    <h2>Kyle Vander Kuyp</h2>
    <h3>Role Model</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</li>
<li>
  <img src="/assets/images/people/lara-davenport-temporary.png" alt="Lara Davenport - Director at Red Dust" />
  <h2>Lara Davenport</h2>
  <div class="name">
    <h2>Martin Hirons</h2>
    <h3>Director</h3>
  </div>
  <div class="modal">
    <h2>Lara Davenport</h2>
    <h3>Director</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</li>
