<footer>
  <div>

    <div>
      <h2>Help break the <br>cycle of poor health</h2>
      <a href="/support"><button type="button-support">Support</button></a>
    </div>
    <div>
      <ul>
        <h3>About</h3>
        <li><a href="#">Mission &amp; Values</a></li>
      </ul>
      <ul>
        <h3>What we do</h3>
        <li><a href="#">Healthy living program</a></li>
      </ul>
    </div>

  </div>
</footer>
