<footer>
  <section id="break-the-cycle">
    <div>
      <h2>Help break the cycle of poor health</h2>
      <a href="/support" class="button rust">Support</a>
    </div>
  </section>
  <section id="links">
    <div>
      <ul>
        <h3>About</h3>
        <li>
          <a href="/about/mission-and-values">Mission &amp; Values</a>
        </li>
        <li>
          <a href="/about/people/#people">Ambassadors</a>
        </li>
        <li>
          <a href="/about/people/#people">Directors</a>
        </li>
        <li>
          <a href="/about/people/#people">Staff</a>
        </li>
        <li>
          <a href="/about/partners">Partners</a>
        </li>
        <li>
          <a href="/about/reports">Financial Reports</a>
        </li>
      </ul>
      <ul>
        <h3>What we do</h3>
        <li>
          <a href="/work/programs/#healthy-living">Healthy Living Program</a>
        </li>
        <li>
          <a href="/work/programs/#strong-young-women">Strong Young Womens Program</a>
        </li>
        <li>
          <a href="/work/programs/#strong-young-men">Strong Young Men &amp; Boys Programs</a>
        </li>
        <li>
          <a href="/work/music-videos">Music Videos</a>
        </li>
      </ul>
    </div>
  </section>
</footer>
