<header>
  <div>
    <img src="/assets/img/header/reddust-logo@2x.png" />
    <nav>
      <img src="/assets/header/drop-down-bars.png" />
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/mission-and-values">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#" class="button support">Support</a></li>
        <li>
          <a href="#"><img src="/assets/img/icons/facebook.svg" /></a>
          <a href="#"><img src="/assets/img/icons/twitter.svg" /></a>
          <a href="#"><img src="/assets/img/icons/vimeo.svg" /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
