<header>
  <div>
    <a href="/"><img class="icon" src="/assets/img/header/reddust-logo@2x.png" /></a>
    <nav>
      <div class="icon">
        <img src="/assets/img/icons/burger.svg" /><img src="/assets/img/icons/burger-hover.svg" />
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/mission-and-values">About</a></li>
        <li><a href="/work/what-we-do">Work</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/support" class="button support">Support</a></li>
        <li>
          <a class="icon" href="#"><img src="/assets/img/icons/facebook.svg" /><img src="/assets/img/icons/facebook-hover.svg" /></a>
          <a class="icon" href="#"><img src="/assets/img/icons/twitter.svg" /><img src="/assets/img/icons/twitter-hover.svg" /></a>
          <a class="icon" href="#"><img src="/assets/img/icons/vimeo.svg" /><img src="/assets/img/icons/vimeo-hover.svg" /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
