{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Mission &amp; Values</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}about-mission{{/replace}}

  {{#replace "main"}}

    <section id="hero" class="right">
      <img src="/assets/img/about/about-hero.jpg" />
    </section>

    {{> about-nav}}

    <section id="mission">
      <div>
        <div class="image">
          <img src="/assets/img/about/mission-and-values/walking-down-street.jpg" alt="Kyle van der Kuyp walking down the street with the little guys" />
        </div>
        <div class="text">
          <h2>Mission &amp; values</h2>
          <p>Generations of Indigenous Australians in remote communities have lived a life impacted by poor health. This affects the whole community, especially young people. Red Dust believes that good health is the key to a bright future and that health
            outcomes can only be made possible through a two-way exchange with communities.</p>
        </div>
      </div>
    </section>

    <section id="mantra">
      <div>
        <div class="text">
          <ul>
            <li>
              <p>We develop sincere relationships with respect to the diversity of culture, people and places. <br>A hands-on approach utilizing the three R's.</p>
            </li>
            <li>
              <h2>Real</h2>
            </li>
            <li>
              <h2>Ready</h2>
            </li>
            <li>
              <h2>Respectful</h2>
            </li>
          </ul>
        </div>
        <div class="image">
          <img src="/assets/img/about/mission-and-values/reaching-out.jpg" alt="Kyle van der Kuyp reaching out to little guys" />
        </div>
      </div>
    </section>

    <section id="vision">
      <h2>Our aim: reducing chronic disease with a focus on nutrition, hygiene, substance misuse and physical activity.</h2>
    </section>

  {{/replace}}
{{/extend}}
