// All headings, paragraphs and buttons will inherit these font styles from the <body>

body {
  font-family: $montserrat-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: $reddust-stone;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $reddust-bone;
}
// The general layout of the page

footer,
header,
section {
  min-width: 320px;

  > div {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
  }
}
// To avoid <img> and <iframe> to have weird white space below them, make them a block

iframe,
img {
  display: block;
}
// In most cases we use <ul> not as bullet lists and thus we strip them of all browser defaults

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
  }
}
// This is to override the browser default font-weight and margins

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $from-where-you-are-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}
// Normal hyperlinks

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
// Buttons

a.button,
button {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 32px;
  padding: 0 14px;
  border-radius: 5px;
  background-color: transparent;
  border: $reddust-gold 1px solid;
  color: $reddust-gold;
  cursor: pointer;

  &.support {
    &:hover {
      color: $reddust-sunset;
      border-color: $reddust-sunset;
    }
  }

  &.rust {
    background-color: $reddust-rust;

    &:hover {
      background-color: $reddust-sunset;
      border-color: $reddust-sunset;
    }
  }

  &.gold {
    color: $reddust-gold;
    border-color: $reddust-gold;

    &:hover {
      color: $reddust-cream;
      border-color: $reddust-cream;
    }
  }

  &.cream {
    color: $reddust-cream;
    border-color: $reddust-cream;

    &:hover {
      color: $reddust-sunset;
      border-color: $reddust-sunset;
    }
  }

  &.large {
    padding: 0 50px;
    line-height: 46px;
  }
}
// For the outdated browser message

#outdated {
  p {
    max-width: none;
  }
}
