// All headings, paragraphs and buttons will inherit these font styles from the <body>
body {
  font-family: $montserrat-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: $reddust-stone;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $reddust-bone;
}

// The general layout of the page
footer,
header,
section {
  min-width: 320px;
  > div {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
  }
}

// To avoid <img> and <iframe> to have weird white space below them, make them a block
iframe,
img {
  display: block;
}

// In most cases we use <ul> not as bullet lists and thus we strip them of all browser defaults
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
  }
}

// This is to override the browser default font-weight and margins
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $from-where-you-are-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

// Normal hyperlinks
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Buttons
a.button,
button {
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 32px;
  padding: 0 14px;
  border-radius: 5px;
  background-color: transparent;
  border: $reddust-gold 1px solid;
  color: $reddust-gold;
  cursor: pointer;
  &.support {
    margin: 2px 0;
    &:hover {
      color: $reddust-sunset;
      border-color: $reddust-sunset;
    }
  }
  &.rust {
    background-color: $reddust-rust;
    &:hover {
      background-color: $reddust-sunset;
      border-color: $reddust-sunset;
    }
  }
  &.gold {
    color: $reddust-gold;
    border-color: $reddust-gold;
    &:hover {
      color: $reddust-cream;
      border-color: $reddust-cream;
    }
  }
  &.cream {
    color: $reddust-cream;
    border-color: $reddust-cream;
    &:hover {
      color: $reddust-sunset;
      border-color: $reddust-sunset;
    }
  }
  &.large {
    padding: 0 50px;
    line-height: 46px;
  }
}
.rust {
  background-color: $reddust-rust;
}
.gold {
  background-color: $reddust-gold;
}
.sunset {
  background-color: $reddust-sunset;
}
.icon {
  cursor: pointer;
  img {
    height: auto;
  }
  img:nth-last-child(1) {
    display: none;
  }
  &:hover {
    img:nth-last-child(2) {
      display: none;
    }
    img:nth-last-child(1) {
      display: block;
    }
  }
}

//Header Mobile Navigation Toggle
.mobile-nav-active {
  header div nav ul {
    display: flex;
  }
  @media (max-width: 900px) {
    section:nth-child(1) {
      filter: blur(2px);

      &::before {
        content: ('');
        position: absolute;
        width: 100%;
        height: 400px;
        background: rgba(0,0,0,0.7);
      }
    }
  }
}

// For the outdated browser message
#outdated {
  p {
    max-width: none;
  }
}

// Most hero sections share the same CSS
section#hero {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 800px;
  min-height: 300px;
  height: 40vw;

  img {
    width: 100vw;
    height: auto;
    @media (max-width: 632px) {
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: 300px;
    }
  }
}

// Both partner and people tiles share the same tile layout styles
section.tiles {
  > div {
    padding: 0;
    max-width: 2400px;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li {
      padding: 1px;
      box-sizing: border-box;
      background: $reddust-bone;
    }
  }

  // People tiles open a lightbox when clicked upon
  &.people {
    li {
      position: relative;
      cursor: pointer;
      padding: 0;
      background: $reddust-rust;
      overflow: hidden;
      @media (max-width: 2100px) {
        width: 20vw;
        height: 20vw;
      }
      @media (max-width: 1700px) {
        width: 25vw;
        height: 25vw;
      }
      @media (max-width: 1300px) {
        width: 33.3333vw;
        height: 33.3333vw;
      }
      @media (max-width: 900px) {
        width: 50vw;
        height: 50vw;
      }
      @media (max-width: 500px) {
        width: 100vw;
        height: 100vw;
      }
      &:nth-child(4n+1) {
        background: $reddust-yinnar;
      }
      &:nth-child(4n+2) {
        background: $reddust-rust;
      }
      &:nth-child(4n+3) {
        background: $reddust-sunset;
      }
      &:nth-child(4n+4) {
        background: $reddust-gold;
      }
      &.image {
        &:hover {
          img {
            transform: scale(1.06);
          }
        }
        img {
          width: 100%;
          height: 100%;
          transition: transform 500ms ease;
        }
        h2 {
          font-family: $montserrat-bold;
          font-size: 20px;
          line-height: 130%;
          text-transform: uppercase;
          letter-spacing: 0.4px;
          color: white;
          position: absolute;
          bottom: 4.5%;
          right: 7%;
          text-shadow: 0 0 10px RGBA(0,0,0,0.2);
        }
        h3 {
          display: none;
        }
      }
      &.no-image {
        &:hover {
          > div {
            transform: scale(1.06);
          }
        }
        > div {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          transition: transform 500ms ease;
        }
        h2,
        h3 {
          text-transform: uppercase;
          padding: 0 4vw;
          line-height: 130%;
        }
        h2 {
          font-family: $montserrat-bold;
          font-size: 30px;
          color: $reddust-bone;
          margin-bottom: 10px;
        }
        h3 {
          font-family: $montserrat-regular;
          font-size: 22px;
          color: $reddust-cream;
          letter-spacing: 0.5px;
        }
      }
      p {
        display: none;
      }
    }
    .modal {
      position: fixed;
      z-index: -1;
    }
  }
}

#coming-soon {
  background-color: $reddust-cream;

  > div {
    min-height: 420px;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    h1 {
      font-size: 30px;
      margin-bottom: 20px;
      color: $reddust-rust;
    }

    h2 {
      font-size: 20px;
      color: $reddust-sunset;
    }
  }
}
