body {
  font-family: $montserrat-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: $reddust-stone;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer,
header,
section {
  min-width: 320px;

  > div {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
  }
}

iframe,
img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $from-where-you-are-regular;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.button {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 14px;
    border-radius: 5px;
    background-color: transparent;
    border: $reddust-gold 1px solid;
    color: $reddust-gold;

    &.rust {
      background-color: $reddust-rust;

      &:hover {
        background-color: $reddust-sunset;
        border-color: $reddust-sunset;
      }
    }

    &.gold {
      color: $reddust-gold;
      border-color: $reddust-gold;

      &:hover {
        color: $reddust-cream;
        border-color: $reddust-cream;
      }
    }

    &.large {
      padding: 0 50px;
      line-height: 50px;
    }
  }
}

#outdated {
  p {
    max-width: none;
  }
}
