h1 {
	font-size: 52px;
	line-height: 100%;
	text-align: center;
	text-transform: capitalize;

	span {
		display: block;
		color: white;
	}
}

h3 {
	color: $reddust-rust;
	font-size: 23px;
}

h4 {
	color: $reddust-cream;
	font-size: 20px;
}
@font-face {
	font-family: 'FromWhereYouAre-Regular';
	font-weight: normal;
	font-style: normal;
	src: url('/assets/fonts/FromWhereYouAre-Regular.eot');
	src: url('/assets/fonts/FromWhereYouAre-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/FromWhereYouAre-Regular.woff2') format('woff2'), url('/assets/fonts/FromWhereYouAre-Regular.woff') format('woff'), url('/assets/fonts/FromWhereYouAre-Regular.ttf') format('truetype');
}
