header {
  background: url('/assets/img/header/red-header-background.jpg');
  background-size: cover;

  div {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    > img {
      position: absolute;
      top: 25px;
      max-width: 220px;
      margin-left: 50px;
    }

    nav {
      margin-left: auto;

      > img {
        display: none;
      }

      ul {
        display: flex;
        margin-bottom: 5px;
        padding-left: none;

        li {
          display: flex;
          align-items: center;
          list-style: none;
          font-size: 15px;
          text-transform: uppercase;
          padding: 2px 10px;
          margin-left: 1.5vw;
          font-weight: bolder;

          a {
            display: flex;
            align-items: center;
            color: $reddust-cream;

            img {
              width: 26px;
              padding: 0 5px;
              @media (max-width: 500px) {
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
}
