#landing {
  #hero {
    background: url('/assets/img/landing/home-banner.jpg');
    background-size: cover;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      height: 500px;

      h1 {
        text-transform: none;
        color: $rdgold;
        margin-bottom: 40px;
      }

      img {
        width: 100px;
        padding: 10px;
        margin-bottom: 20px;
      }
    }
  }

  #about-link {
    background-color: $rdgold;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        text-align: center;
        max-width: 720px;
        margin: 70px auto 0;
      }

      h4 {
        text-align: center;
        max-width: 720px;
      }

      a {
        margin-bottom: 70px;
      }
    }
  }

  #where-we-work {
    background-color: $rdcream;

    div {
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        color: $rdrust;
        margin: 70px auto 0;
      }

      img {
        max-width: 720px;
        margin-bottom: 70px;
      }
    }
  }

  #impact {
    background: url('/assets/img/landing/home-banner-impact@2x.jpg');
    background-size: cover;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      color: $rdcream;

      > h1 {
        margin: 70px auto 0;
      }

      > div {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: row;
        margin-top: 100px;

        div {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          margin: 0 40px;

          h1 {
            color: $rdcream;
            font-size: 80px;
            margin: 0 auto 60px;
          }

          img {
            max-width: 150px;
          }

          h4 {
            text-transform: uppercase;

            span {
              font-size: 35px;
            }
          }
        }
      }

      > a {
        margin: 70px;

        button {
          padding: 16px 55px;
          color: $rdcream;
          border-color: $rdcream;
        }
      }
    }
  }

  #how-you-can-help {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: $rdrust;
        margin: 70px auto 0;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px;

        li {
          position: relative;
          list-style: none;
          text-align: center;
          margin: 8px;

          a {
            display: flex;
            flex-direction: column;
            width: 22vw;
            height: 22vw;
            max-width: 250px;
            max-height: 250px;
            text-align: center;

            img {
              position: absolute;
              width: 100%;
            }

            h3 {
              color: white;
              text-transform: uppercase;
              background-color: $rdgold;
              z-index: 1;
              padding: 12px;
              margin: auto 0 2px;
            }
          }
        }
        @media (max-width: 900px) {
          flex-wrap: wrap;
          max-width: 650px;

          li {
            a {
              width: 40vw;
              height: 40vw;
            }
          }
        }
      }
    }
  }
}
