#landing {
  #hero {
    background: url('/assets/img/landing/home-banner.jpg');
    background-size: cover;
    background-position: 40%;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      text-align: center;
      height: 650px;

      h1 {
        color: $reddust-gold;
        font-size: 45px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 20px;

        span {
          display: block;
          color: white;
        }
      }

      img {
        width: 70px;
        padding: 10px;
        margin-bottom: 20px;
      }
    }
  }

  #about-link {
    background-color: $reddust-gold;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        text-align: center;
        max-width: 670px;
        margin: 70px auto 0;
        color: $reddust-rust;
      }

      h4 {
        font-family: $montserrat-bold;
        font-size: 20px;
        text-align: center;
        max-width: 700px;
        color: white;
        line-height: 145%;
        letter-spacing: 0.3px;
        margin-top: 10px;
      }

      a {
        margin: 20px auto 70px;
      }
    }
  }

  #where-we-work {
    background-color: $reddust-cream;

    div {
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 45px;
        color: $reddust-rust;
        text-transform: capitalize;
        margin: 70px auto 0;
      }

      img {
        max-width: 720px;
        margin-bottom: 70px;
      }
    }
  }

  #impact {
    background: url('/assets/img/landing/home-banner-impact@2x.jpg');
    background-size: cover;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      color: $reddust-cream;

      > h1 {
        font-size: 45px;
        text-transform: capitalize;
        margin: 70px auto 0;
      }

      > div {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: row;
        margin-top: 100px;

        div {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          text-align: center;
          margin: 0 40px;

          h1 {
            color: $reddust-cream;
            font-size: 80px;
            margin: 0 auto 60px;
          }

          img {
            max-width: 120px;
            margin: 0 auto 45px;
          }

          h4 {
            font-family: $montserrat-bold;
            font-size: 20px;
            text-transform: uppercase;
            color: white;
            margin: 0 auto;

            span {
              font-family: $from-where-you-are-regular;
              font-size: 35px;
            }
          }
        }
      }

      > a {
        margin: 70px;

        .button {
          padding: 16px 55px;
          color: $reddust-cream;
          border-color: $reddust-cream;
        }
      }
    }
  }

  #how-you-can-help {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 45px;
        text-transform: capitalize;
        color: $reddust-rust;
        margin: 70px auto 0;
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px;

        li {
          list-style: none;
          text-align: center;
          margin: 8px;

          a {
            display: flex;
            flex-direction: column;
            width: 22vw;
            height: 22vw;
            max-width: 250px;
            max-height: 250px;
            text-align: center;

            &:hover {
              img {
                transform: scale(1.15);
              }
            }

            div {
              display: block;
              position: relative;
              overflow: hidden;
              height: 100%;

              img {
                position: absolute;
                width: 100%;
                transition: transform 0.5s ease;
              }
            }

            h3 {
              font-family: $montserrat-bold;
              color: white;
              text-transform: uppercase;
              background-color: $reddust-gold;
              z-index: 1;
              padding: 12px;
              margin: auto 0 2px;
            }
          }
        }
        @media (max-width: 900px) {
          flex-wrap: wrap;
          max-width: 650px;

          li {
            a {
              width: 40vw;
              height: 40vw;
            }
          }
        }
      }
    }
  }

  #partners {
    > div {
      padding: 0;
      max-width: none;

      > h1 {
        color: $reddust-rust;
        font-size: 45px;
        margin: 70px auto 0;
        text-align: center;
      }

      > p {
        color: $reddust-stone;
        text-align: center;
        margin: 20px 0 50px;
      }
    }

    ul {
      display: flex;
      flex-flow: row wrap;

      li {
        width: 25vw;
        height: 25vw;
        padding: 1px;
        box-sizing: border-box;
        background: #EEE;
        @media (max-width: 900px) {
          width: 33.3333vw;
          height: 33.3333vw;
        }
        @media (max-width: 600px) {
          width: 50vw;
          height: 50vw;
          min-width: 160px;
          min-height: 160px;
        }

        .flip-container {
          perspective: 1000px;
          width: 100%;
          height: 100%;

          &.hover,
          &:hover {
            .flipper {
              transform: rotateY(180deg);
            }
          }

          .flipper {
            position: relative;
            transition: 0.6s;
            transform-style: preserve-3d;
            width: 100%;
            height: 100%;

            .back,
            .front {
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              position: absolute;
              top: 0;
              left: 0;
            }

            .front {
              z-index: 2;
              transform: rotateY(0deg);
              background: white;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 80%;
                height: 80%;
              }
            }

            .back {
              transform: rotateY(180deg);
              background-color: $reddust-sunset;
              box-sizing: border-box;
              padding: 0 2vw;
              @media (max-width: 900px) {
                padding: 2vw;
              }

              h3 {
                font-family: $montserrat-bold;
                text-transform: uppercase;
                color: white;
                text-align: center;
                margin: 28px 0 20px;
                font-size: 20px;
                line-height: 130%;
                @media (max-width: 900px) {
                  display: none;
                }
              }

              p {
                font-family: $montserrat-regular;
                color: $reddust-cream;
                line-height: 130%;
                font-size: 14px;
                @media (max-width: 600px) {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
