#work-nav {
  background: $reddust-rust;
  text-align: center;
  h1 {
    font-size: 42px;
    line-height: 100%;
    margin: 46px 0 18px;
    color: $reddust-cream;
  }
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 0 36px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  a {
    display: block;
    font-family: $montserrat-bold;
    font-size: 17px;
    line-height: 30px;
    padding: 0 14px;
    color: $reddust-cream;
    text-transform: uppercase;
    cursor: pointer;
    &.active,
    &:hover {
      color: $reddust-gold;
    }
  }
}
