#programs {
  background-color: $reddust-yinnar;

  #work-nav {
    a[href="/work/programs"] {
      color: $reddust-gold;
    }
  }

  #intro {
    background-color: $reddust-cream;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 525px;
      box-sizing: border-box;
      text-align: center;
      h2 {
        font-family: $montserrat-bold;
        text-transform: uppercase;
        color: $reddust-rust;
        margin: 20px;
      }
      p {
        line-height: 200%;
        max-width: 760px;
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
    }
  }

  section.program-slider {
    position: relative;
    max-height: 800px;
    min-height: 480px;
    height: 52vw;
    width: 100vw;
    overflow: hidden;
    nav {
      img {
        position: absolute;
        height: 94px;
        top: 50%;
        padding: 20px;
        cursor: pointer;
        z-index: 1;
        transform: translateY(-60px);
        @media (max-width: 1200px) {
          height: 8vw;
        }
        @media (max-width: 450px) {
          height: 30px;
          padding: 10px;
        }
        &:hover {
          opacity: 0.7;
        }
        &.prev {
          left: 8vw;
          padding-right: 100px;
          @media (max-width: 450px) {
            left: 0;
            top: 56%;
          }
        }
        &.next {
          right: 8vw;
          padding-left: 100px;
          @media (max-width: 450px) {
            right: 0;
            top: 56%;
          }
        }
      }
    }
    ul {
      position: absolute;
      left: 0;
      top: 0;
      width: 600vw;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      li {
        position: relative;
        width: 100vw;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        &.slide-1 {
          h1 {
            font-size: 48px;
            max-width: 420px;
            line-height: 130%;
            color: $reddust-cream;
            margin-top: 110px;
            text-transform: capitalize;
            @media (max-width: 1200px) {
              font-size: 4vw;
              margin-top: 20px;
              max-width: 40vw;
            }
            @media (max-width: 500px) {
              font-size: 20px;
              margin-top: 0;
              max-width: 200px;
            }
          }
          h2 {
            font-family: $montserrat-bold;
            color: white;
            font-size: 26px;
            line-height: 130%;
            margin-top: 30px;
            @media (max-width: 800px) {
              font-size: 3.5vw;
            }
            @media (max-width: 500px) {
              font-size: 18px;
            }
          }
          p.see-more {
            font-family: $montserrat-bold;
            position: absolute;
            color: $reddust-cream;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            right: 8vw;
            top: 62%;
            max-width: 90px;
            margin: 0;
            line-height: 140%;
            @media (max-width: 800px) {
              font-size: 2vw;
            }
            @media (max-width: 500px) {
              font-size: 10px;
              right: 5vw;
              top: 55%;
            }
            @media (max-width: 450px) {
              right: 3vw;
            }
            @media (max-width: 380px) {
              right: 1vw;
            }
          }
        }
        &.slide-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: left;
          > div {
            max-width: 520px;
          }
          h2 {
            color: $reddust-gold;
            font-size: 20px;
            margin: 20px 0;
            max-width: 80vw;
            text-transform: capitalize;
            @media (max-width: 400px) {
              margin: 10px 0;
              font-size: 14px;
            }
          }
          p {
            font-family: $montserrat-regular;
            font-size: 15px;
            line-height: 160%;
            margin: 0 auto;
            max-width: 80vw;
            @media (max-width: 700px) {
              font-size: 14px;
            }
            @media (max-width: 500px) {
              font-size: 2.5vw;
            }
            @media (max-width: 400px) {
              font-size: 11px;
            }

          }
        }
        &.slide-map {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          div {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 100%;
            h1 {
              font-size: 38px;
              color: $reddust-rust;
              max-width: 80vw;
              margin: 20px auto 0;
              text-transform: capitalize;
              @media (max-width: 900px) {
                font-size: 4vw;
              }
              @media (max-width: 400px) {
                font-size: 17px;
              }
            }
            img {
              height: 75%;
              margin: auto 0;
              @media (max-width: 450px) {
                height: 60%;
              }
              @media (max-width: 380px) {
                height: 50%;
              }
            }
          }
        }
        &.slide-dates {
          display: flex;
          flex-direction: column;
          align-items: center;
          > div {
            max-width: 520px;
            text-align: left;
            h1 {
              color: $reddust-cream;
              text-align: center;
              font-size: 40px;
              margin: 0 auto 40px;
              max-width: 76vw;
              text-transform: capitalize;
              @media (max-width: 900px) {
                font-size: 4vw;
              }
              @media (max-width: 550px) {
                margin-bottom: 20px;
              }
              @media (max-width: 400px) {
                font-size: 17px;
              }
            }
            h2 {
              font-size: 22px;
              margin: 20px 0;
              max-width: 76vw;

            }
            h3 {
              font-family: $montserrat-bold;
              text-transform: uppercase;
              max-width: 76vw;

            }
            > h3 {
              text-align: center;
              max-width: 76vw;

            }
            p {
              line-height: 160%;
              font-size: 15px;
              max-width: 76vw;

            }
            .dates {
              display: flex;
              flex-flow: row wrap;
              padding-left: 100px;
              @media (max-width: 550px) {
                padding-left: 0;
                flex-wrap: nowrap;
                flex-direction: column;
              }
              > div {
                width: 50%;
                margin-bottom: 40px;
                @media (max-width: 550px) {
                  margin-bottom: 5px;
                }
                h3 {
                  font-size: 20px;
                  margin-bottom: 6px;
                  max-width: 76vw;
                  @media (max-width: 550px) {
                    font-size: 16px;
                    min-width: 130px;
                    margin-bottom: 2px;
                  }

                }
                p {
                  margin: 0 auto;
                  font-size: 16px;
                  max-width: 76vw;
                  @media (max-width: 550px) {
                    font-size: 12px;
                    min-width: 130px;
                    margin-left: 5px;
                  }

                }
              }
            }
          }
        }
      }
    }
    &#healthy-living {
      .slide-1 {
        background-image: url('/assets/img/work/programs/healthy-living-1.jpg');
      }
      .slide-2 {
        background-image: url('/assets/img/work/programs/healthy-living-2.jpg');
      }
      .slide-map {
        background-image: url('/assets/img/work/programs/healthy-living-map.jpg');
      }
      .slide-4 {
        background-image: url('/assets/img/work/programs/healthy-living-4.jpg');
      }
    }
    &#strong-young-men {
      .slide-1 {
        background-image: url('/assets/img/work/programs/strong-young-men-1.jpg');
      }
      .slide-2 {
        background-image: url('/assets/img/work/programs/strong-young-men-2.jpg');
      }
      .slide-3 {
        background-image: url('/assets/img/work/programs/strong-young-men-3.jpg');
        h2 {
          color: $reddust-rust;
        }
      }
      .slide-4 {
        background-image: url('/assets/img/work/programs/strong-young-men-4.jpg');
      }
      .slide-5 {
        background-image: url('/assets/img/work/programs/strong-young-men-5.jpg');
      }
      .slide-map {
        background-image: url('/assets/img/work/programs/strong-young-men-map.jpg');
      }
    }
    &#strong-young-women {
      .slide-1 {
        background-image: url('/assets/img/work/programs/strong-young-women-1.jpg');
      }
      .slide-2 {
        background-image: url('/assets/img/work/programs/strong-young-women-2.jpg');
      }
      .slide-map {
        background-image: url('/assets/img/work/programs/strong-young-women-map.jpg');
      }
    }
  }
}
