{% extends "layout.nunjucks" %}

{% block meta %}
  <title>Music Videos</title>
  <meta name="description" content="">
{% endblock %}

{% block id %}music-videos{% endblock %}

{% block main %}

  <section id="hero" class="programs">
    <img src="/assets/img/work/hero.jpg"/>
  </section>

  {% include "partials/work-nav.html" %}

  <section id="video-archive">
    <div>
      <ul>
        {% for video in videos %}
          <li>
            <img src="{{video.image}}"/>
            <div>
              <h3>{{video.title}}</h3>
              <h4>{{video.location}}</h4>
              <h5>{{video.date}}</h5>
              <a href="{{video.link}}" class="button" target="_blank">Watch</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

{% endblock %}
