<section id="about-nav">
  <div>
    <h1>About</h1>
    <ul>
      <li><a href="/about/mission-and-values">Mission &amp; Values</a></li>
      <li><a href="/about/people">People</a></li>
      <li><a href="/about/partners">Partners</a></li>
      <li><a href="/about/reports">Reports</a></li>
    </ul>
  </div>
</section>
