<section id="work-nav">
  <div>
    <h1>Work</h1>
    <ul>
      <li><a href="/work/what-we-do">What we do</a></li>
      <li><a href="/work/programs">Programs</a></li>
      <li><a href="/work/music-videos">Music Videos</a></li>
    </ul>
  </div>
</section>
