{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Reports</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}about-reports{{/replace}}

  {{#replace "main"}}

  <section id="hero">
    <img src="" alt="" />
  </section>

  {{> about-nav}}

  <section id="intro">
    <div>
      <h2>Reports</h2>
    </div>
  </section>

  {{/replace}}
{{/extend}}
