{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Reports</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}about-reports{{/replace}}

  {{#replace "main"}}

    <section id="hero" class="right">
      <img src="/assets/img/about/reports/hero.jpg" alt="" />
    </section>

    {{> about-nav}}
    <!-- {{> coming-soon}} -->

    <section id="intro">
      <div>
        <h4>The Red Dust Role Models organisation is continuously evaluating its programs to determine where it may improve and therefore have the most positive impact on the community.</h2>
        <p>As a not-for-profit organisation, Red Dust is committed to being as transparent as possible to ensure that it grows effectively, whilst not losing sight of its core values and principles.</p>
      </div>
    </section>

    <section class="downloads"id="agm-financial">
      <div>
        <h3>AGM &amp; Financial Reports</h3>
        <ul>
          <li>
            <h5>2016 Financial Report</h5> <a href="/assets/reports/2015-16-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2015 Financial Report</h5> <a href="/assets/reports/2014-15-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2014 Financial Report</h5> <a href="/assets/reports/2013-14-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2013 Financial Report</h5> <a href="/assets/reports/2012-13-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2012 Financial Report</h5> <a href="/assets/reports/2011-12-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2011 Financial Report</h5> <a href="/assets/reports/2010-11-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2010 Financial Report</h5> <a href="/assets/reports/2009-10-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2009 Financial Report</h5> <a href="/assets/reports/2008-09-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2008 Financial Report</h5> <a href="/assets/reports/2007-08-financial-report.pdf" target="_blank" class="button">Download</a></li>
          <!-- <li>
            <h5>2007 Financial Report</h5> <a href="/assets/reports/2006-07-financial-report.pdf" target="_blank" class="button">Download</a></li> -->
          <li>
            <h5>2006 Financial Report</h5> <a href="/assets/reports/2005-06-financial-report.pdf" target="_blank" class="button">Download</a></li>


          <!-- <li>
            <h5>2011 AGM Agenda and Overview</h5> <a href="#" target="_blank" class="button">Download</a></li> -->

        </ul>
      </div>
    </section>

    <!-- <section  class="downloads"id="research">
      <div>
        <h3>Research Reports</h3>
        <p>Red Dust participates in independent evaluations conducted by Dr Harry Blagg. The research consultant was commissioned in 2008 and 2009 to assess the performance of Red Dust Role Models in their work with young people and their communities in
          the Northern Territory and India.</p>
        <p>In 2015, Red Dust commenced a three-year cycle of evaluations being conducted by Menzies School of Health Research. Updates will be provided once available.</p>
        <ul>
          <li>
            <h5>2009 Australian Program Evaluation</h5> <a href="#" target="_blank" class="button">Download</a> </li>
          <li>
            <h5>2009 Indian Program Evaluation</h5><a href="#" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2008 Program Evaluation</h5><a href="#" target="_blank" class="button">Download</a></li>
        </ul>

      </div>
    </section> -->

    <!-- <section class="downloads"id="annual">
      <div>
        <h3>Annual Reports</h3>
        <p>At the end of each year, Red Dust conducts a review of the organisation, tours conducted and its operations which culminates in the production of the 'Red Dust Review'. Reviews have been produced for 2006/07 and 2007/8, 2009 ,2010 and 2011 and
          can be viewed below:</p>
        <ul>
          <li>
            <h5>2011 Red Dust Review</h5><a href="#" target="_blank" class="button" class="button">Download</a></li>
          <li>
            <h5>2010 Red Dust Review</h5><a href="#" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2009 Red Dust Review</h5><a href="#" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2007/08 Red Dust Review</h5><a href="#" target="_blank" class="button">Download</a></li>
          <li>
            <h5>2016 Red Dust Review</h5><a href="#" target="_blank" class="button">Download</a></li>
        </ul>
      </div>
    </section> -->

  {{/replace}}
{{/extend}}
