{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Support</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}support{{/replace}}

  {{#replace "main"}}

    {{> coming-soon}}

  {{/replace}}
{{/extend}}
