{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Support</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}support{{/replace}}

  {{#replace "main"}}
    <section id="hero" class="center">
      <img src="/assets/img/support/hero.jpg" />
    </section>

    <!-- {{> coming-soon}} -->

    <section id="title">
      <div>
        <h1>How you can help</h1>
      </div>
    </section>

    <section id="intro">
      <div>
        <p>Red Dust travels to some of Australia's most remote areas where we work in partnership with communities to achieve something we all take for granted – good health. We urgently need your support to break the cycle of poor health so the generation
          of Indigenous youth in remote communities have a healthier future. With your help, we can break the cycle.</p>
      </div>
    </section>

    <section id="your-donation">
      <div>

        <h1>What your donation does</h1>
        <div>
          <div>
            <h1>$50</h1>
            <h4>Will help us provide a sport workshop for one student</h4>
          </div>
          <div>
            <h1>$100</h1>
            <h4>Will help us provide a music workshop for one student</h4>

          </div>
          <div>
            <h1>$500</h1>
            <h4>Will help us send a volunteer role model to a community</h4>
          </div>

        </div>
      </div>
    </section>

    <section class="support-avenues" id="donate">
      <div>
        <div class="image">
          <img src="/assets/img/support/donate.jpg" alt="Kyle van der Kuyp walking down the street with the little guys" />
        </div>
        <div class="text">
          <h2>Donate Online</h2>
          <p>Red Dust urgently needs your support to break the cycle of poor health so that this generation of Indigenous youth in remote communities has a healthier future. Without your help, there is only a remote chance we can break the cycle.</p>
          <a href="http://reddust.gofundraise.com.au/" class="button">Donate</a>
        </div>
      </div>
    </section>

    <section class="support-avenues" id="fundraise">
      <div>
        <div class="text">
          <h2>Fundraise</h2>
          <p>There are so many ways you can help Red Dust without being a role model or sponsor. Red Dust relies on individuals wishing to see a healthier lifestyle for our Indigenous youth - company morning teas, school BBQ's or sports days are just some
            of the ways you can help raise the much needed support.</p>
          <a href="http://reddust.gofundraise.com.au/" class="button">Donate</a>
        </div>
        <div class="image">
          <img src="/assets/img/support/fundraise.jpg" alt="Kyle van der Kuyp walking down the street with the little guys" />
        </div>
      </div>
    </section>

    <section class="support-avenues" id="partnerships">
      <div>
        <div class="image">
          <img src="/assets/img/support/corporate-partnerships.jpg" alt="Kyle van der Kuyp walking down the street with the little guys" />
        </div>
        <div class="text">
          <h2>Corporate Partnerships</h2>
          <p>A corporate partnership with Red Dust will enable your company to give back to the community in a positive and invaluable respect. Corporate partnerships allow us to continue to deliver programs and projects and give us the ability to expand
            our aim of creating healthy remote communities.</p>
          <a href="mailto:darren@reddust.org.au?subject=Corporate Partnerships" class="button">Contact Us</a>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
