{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Contact</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}contact{{/replace}}

  {{#replace "main"}}

    <section id="hero" class="center">
      <img src="/assets/img/contact/hero.jpg" />
    </section>

    <section id="title">
      <div>
        <h1>Contact</h1>
      </div>
    </section>

    <section id="address">
      <div>

        <div>
          <div>
            <h4>Red Dust Head Office</h4>
            <p>168 Burwood Rd, Hawthorn VIC 3122</p>
            <p>PH 03 9818 1744</p>
            <a href="mailto:admin@reddust.org.au">admin@reddust.org.au</a>

            <h4>Red Dust Alice Springs</h4>
            <p>5/59 Elder St, Alice Springs, NT 0870</p>
            <p>PO Box 8999, Alice Springs, NT 0870</p>
            <p>PH 03 9818 1744</p>

            <h4 class="how-can-i-help">How can I help?</h4>
            <p>Like to volunteer but not sure where to start?</p>

            <a class="button" href="/support">Support</a>
          </div>
        </div>

        <div id="map">
          <a href="https://www.google.com.au/maps/place/Red+Dust+Role+Models/@-37.822032,145.02807,15z/data=!4m5!3m4!1s0x0:0x5c48292a339c024b!8m2!3d-37.822032!4d145.02807"></a>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12606.53753586565!2d145.02807!3d-37.822032!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c48292a339c024b!2sRed+Dust+Role+Models!5e0!3m2!1sen!2sau!4v1479379955186" width="600" height="450"
              frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>
    </section>

    <section id="actions">
      <div>
        <ul>
          <li>
            <div>
              <h3>Become a role model</h3>
              <p>Red Dust needs Role Models who are willing to commit to delivering programs with long term capacity. We are looking for dedicated individuals who have specific skill sets in sport, art, music & health promotion.</p>

              <!-- <a class="button" href="#">Role model criteria</a> -->
              <!-- <a class="button" href="#">Application form</a> -->

              <a class="button" href="mailto:lara@reddust.org.au">Email Red Dust</a>

              <!-- <div class="back">
                <h3>Do you have expertise in the following?</h3>
                <p>Recognised in the field of Sport, Music or Art and/ or combined a discipline in Health Promotion Mentoring &amp; Teaching</p>
                <a href="#" class="button">Application Form</a>
              </div> -->
            </div>
          </li>
          <li>
            <div>
              <h3>Partnerships</h3>
              <p>Become a partner and provide invaluable support to help Red Dust deliver essential programs.</p>
              <p>To learn more, contact <br>Darren Smith <br>
                <a href="mailto:darren@reddust.org.au">darren@reddust.org.au</a>
              </p>
              <p>Head Office, Hawthorn: <br>PH 03 9818 1744</p>
            </div>
          </li>
          <li>
            <div>
              <h3>Fundraise</h3>
              <p>Donate here or contact Emilie to discuss ways you can fundraise for Red Dust.</p>
              <p><a href="mailto:emilie@reddust.org.au">emilie@reddust.org.au</a></p>
              <a class="button" href="http://reddust.gofundraise.com.au/">Donate</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="vision">
      <h2>Our aim: reducing chronic disease with a focus on nutrition, hygiene, substance misuse and physical activity.</h2>
    </section>

  {{/replace}}
{{/extend}}
