{{#extend "layout"}}

  {{#replace "meta"}}
    <title>What we do</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}what-we-do{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <img src="" />
    </section>

    {{> work-nav}}

  {{/replace}}
{{/extend}}
