{{#extend "layout"}}

  {{#replace "meta"}}
    <title>What we do</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}what-we-do{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <img src="" />
    </section>

    {{> work-nav}}

    <!-- {{> coming-soon}} -->

    <section id="the-need">
      <div>

        <h1>The need</h1>
        <div>
          <div>
            <h4>The rate of</h4>
            <h1>Diabetes is 6 times higher</h1>
            <h4>in indigenous children than non-indigenous children</h4>
          </div>
          <div>
            <h1>66% of deaths occur before the age of 65</h1>
            <h4>For indigenous people compared with 20% of non-indigenous deaths</h4>

          </div>
          <div>
            <h4>Indigenous people were</h4>
            <h1>5 times more likely to die from kidney disease</h1>
            <h4>than non-indigenous people</h4>
          </div>

        </div>
      </div>
    </section>

    <section id="how-we-help">
      <div>
        <h1>How we help</h1>
        <p>Red Dust delivers programs tbody</p>
        <img src="" />
      </div>
    </section>

    <section id="impact">
      <div>
        <h1>Impact</h1>
        <img src="" />
      </div>
    </section>

  {{/replace}}
{{/extend}}
