#about-mission {
  #hero {
    background-image: url('/assets/img/about/misson-and-values/about-banner.jpg');
    background-position: 50% 20%;
  }
  #about-nav {
    a[href="/about/mission-and-values"] {
      color: $reddust-rust;
    }
  }
  #mission {
    > div {
      display: flex;
      flex-flow: row nowrap;
      max-width: none;
      padding: 0;
      .image {
        img {
          width: 50vw;
          height: auto;
        }
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 525px;
        box-sizing: border-box;
        background-color: $reddust-cream;
        h2 {
          font-family: $montserrat-bold;
          text-transform: uppercase;
          color: $reddust-rust;
          margin: 20px;
        }
        p {
          line-height: 200%;
          max-width: 360px;
        }
      }
    }
  }
  #mantra {
    > div {
      display: flex;
      flex-flow: row nowrap;
      max-width: none;
      padding: 0;
      .image {
        img {
          width: auto;
          min-height: 100%;
        }
      }

      div {
        display: block;
        box-sizing: border-box;
        background-color: $reddust-sunset;
        width: 50%;

        ul {
          color: $reddust-cream;
          margin: 80px 0;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            padding: 70px 0;

            h2 {
              font-size: 45px;
              z-index: 1;
              &:after {
                content: ' ';
                position: absolute;
                width: 140px;
                height: 140px;
                top: 50%;
                left: 50%;
                margin-left: -70px;
                margin-top: -70px;
                background: url('/assets/img/about/mission-and-values/red-dot.png') no-repeat 0 0 / 140px 140px;
                z-index: -1;
              }
            }
            p {
              font-size: 22px;
              color: $reddust-bone;
              line-height: 140%;
              max-width: 324px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
// Keep outside #about-mission so we can use this on other pages as well
#vision {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
  max-height: 700px;
  min-height: 400px;
  background-image: url('/assets/img/about/misson-and-values/hero@2x.jpg');
  background-size: cover;
  background-position: 25% 0;
  text-align: center;

  h2 {
    color: $reddust-bone;
    max-width: 560px;
    @media (max-width: 700px) {
      font-size: 3vw;
      margin: 10vw;
    }
    @media (max-width: 500px) {
      font-size: 16px;
    }
  }
}
