{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Programs</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}programs{{/replace}}

  {{#replace "main"}}

    <section id="hero" class="right">
      <img src="/assets/img/work/hero.jpg" alt="" />
    </section>

    {{> work-nav}}

    <section id="intro">
      <div>
        <h2>Programs</h2>
        <p>Red Dust's unique approach to achieving health outcomes is working. We partner with communities to best target specific local needs – this is not a one size fits all approach. We encourage Indigenous youth to learn more about health by using channels
          they respond to such as sport, art, music and dance. We improve knowledge and skills of Indigenous youth and inspire them to live a healthy lifestyle through the influence of positive role models.</p>
      </div>
    </section>

    <section id="healthy-living" class="program-slider">
      <nav>
        <img class="prev" src="/assets/img/icons/arrow-left.svg" />
        <img class="next" src="/assets/img/icons/arrow-right.svg" />
      </nav>
      <ul>
        <li class="slide-1">
          <div>
            <h1>Healthy Living Program </h1>
            <p class="see-more">Click to see more</p>
          </div>
        </li>
        <li class="slide-2 slide-text">
          <div>
            <h2>Healthy Living is a school-based health development program delivered through three stages of week-long visits to schools in remote communities.</h2>
            <p>Healthy Living utilises sport, art, music and dance to drive its messages resulting in fun, interactive and inclusive classroom activities. Role Models from sport, art, music, dance, business and health provide the expertise to support the
              delivery of Healthy Living. Students learn the essential elements to good health including nutrition, hygiene, substance misuse and physical activity. Learning outcomes range from the recommended intake of fruit and vegetables to the definition
              and causes of common preventable diseases. Students are encouraged to be creative and learn new skills in sport, the arts and healthy cooking while interacting with role models.</p>
          </div>
        </li>
        <li class="slide-3 slide-map">
          <div>
            <h1>Where We Deliver</h1>
            <img src="/assets/img/work/programs/hlp-map.png" />
          </div>
        </li>
        <li class="slide-4 slide-dates">
          <div>
            <h1>Delivery dates</h1>
            <div class="dates">
              <div>
                <h3>Yuendumu</h3>
                <p>Feb 15 - 21</p>
                <p>May 24 - 30</p>
                <p>Sept 20 - 26</p>
              </div>
              <div>
                <h3>Areygona</h3>
                <p>May 24 - 30</p>
                <p>Sept 20 - 26</p>
                <p>Nov 8 - 14</p>
              </div>
              <div>
                <h3>Kintore</h3>
                <p>Mar 8 - 14</p>
                <p>June 7 - 13</p>
                <p>Nov 8 - 14</p>
              </div>
              <div>
                <h3>Tiwi College</h3>
                <p>Apr 26 - May 2</p>
                <p>Oct 25 - 31</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <section id="strong-young-men" class="program-slider">
      <nav>
        <img class="prev" src="/assets/img/icons/arrow-left.svg" />
        <img class="next" src="/assets/img/icons/arrow-right.svg" />
      </nav>
      <ul>
        <li class="slide-1">
          <div>
            <h1>Strong Young Men and Boys Program</h1>
            <p class="see-more">Click to see more</p>
          </div>
        </li>
        <li class="slide-2 slide-text">
          <div>
            <h2>Why focus on Aboriginal Male Health?</h2>
            <p>Statistically, Life expectancy for Aboriginal males in Australia is estimated at 18 years less than non-Aboriginal men on average (59 years for Aboriginal men versus 77 years for non-Aboriginal men). There is also a 6 year gap in life expectancy
              between Aboriginal men and Aboriginal women (59 years and 65 years respectively) Emerging data confirms that Aboriginal men have the worst health outcomes of any subgroup in Australia. The data clearly indicates that Aboriginal men's health
              and wellbeing is not going well at the moment. Aboriginal men die earlier from chronic diseases, such as cardiovascular disease, injury, respiratory disease, cancer and endocrine disease. They have higher rates of suicide than non-Aboriginal
              men, and have similar death rates from assault to females.</p>
          </div>
        </li>
        <li class="slide-3 slide-text">
          <div>
            <h2>Strong Young Men and Boys Program</h2>
            <p>The purpose of the SYMBP is to support the development of strong male Aboriginal youth as they navigate their complex worlds and overcome a range of cultural, spiritual, social-emotional and educational obstacles in order to achieve authentic
              success in their lives. All programs involve explicit and practical cultural synthesis, are delivered in both local language/s and English and are typically facilitated using a combination of strategies including yarning circles, explicit
              instruction, classroom teacher co-facilitation, peer led participatory approaches and hands-on interactive activities.</p>
          </div>
        </li>
        <li class="slide-4 slide-text">
          <div>
            <h2>Part 1: Alcohol Education and Community Empowerment Program</h2>
            <p>This program has been designed to value, develop and empower the attitudes, knowledges and skills of strong adult community men where they live at home, transition from residential rehabilitation and prison into community life, and at work.
              This program specifically targets adult community men, who have been identified as key cultural and social catalysts of change and influencers of youth behaviour, particularly alcohol and other drugs use. Topics in this program focus on
              the specifics of Aboriginal culture/s, as well as applying men's ceremonial law and values into post-modern non-Aboriginal contexts.</p>
          </div>

        </li>
        <li class="slide-5 slide-text">
          <div>
            <h2>Part 2 -The Arnwernekenhe Kaaka Mob Apmere (Big Brother) Program</h2>
            <p>This is a program that utilises local community men and role models (many from the AECE Program) to deliver and facilitate education and cultural development activities with youth in schools, juvenile detention, remote communities and community
              centres. Topics covered in this program may include choices around alcohol & other drugs, health education, many-ways leadership, responding to domestic and family violence, respectful relationships (includes sexuality), music, song writing
              and band performances, and specific knowledges around Aboriginal culture/s, ways of being and doing.</p>
          </div>
        </li>
        <li class="slide-6 slide-map">
          <div>
            <h1>Where We Deliver</h1>
            <img src="/assets/img/work/programs/sywp-map.png" />
          </div>
        </li>
      </ul>
    </section>

    <section id="strong-young-women" class="program-slider">
      <nav>
        <img class="prev" src="/assets/img/icons/arrow-left.svg" />
        <img class="next" src="/assets/img/icons/arrow-right.svg" />
      </nav>
      <ul>
        <li class="slide-1">
          <div>
            <h1>Strong Young Womens Program</h1>
            <p class="see-more">Click to see more</p>
          </div>
        </li>
        <li class="slide-2 slide-text">
          <div>
            <h2>The Strong Young Women's Program delivers gender-specific health messages to young women to a range of stakeholder groups in Alice Springs and remote Central Australian and Top End communities.</h2>
            <p>In addition to highlighting the link between lifestyle choices and well being over an individuals life course, the program raises awareness of modifiable risk behaviours with an emphasis on alcohol use and Fetal Alcohol Spectrum Disorder.</p>
          </div>
        </li>
        <li class="slide-3 slide-map">
          <div>
            <h1>Where We Deliver</h1>
            <img src="/assets/img/work/programs/sywp-map.png" />
          </div>
        </li>
      </ul>
    </section>

  {{/replace}}
{{/extend}}
