{{#extend "layout"}}

  {{#replace "meta"}}
    <title>People</title>
    <meta name="description" content="">
  {{/replace}}

  {{#replace "body-id"}}about-people{{/replace}}

  {{#replace "main"}}

  <section id="hero">
    <img src="" alt="" />
  </section>

  {{> about-nav}}

  <section id="filter">
    <div>
      <p>Sort by:</p>
      <button>Everyone</button>
      <button>Directors</button>
      <button>Staff</button>
      <button>Members</button>
    </div>
  </section>

  <section id="people">
    <div>
      <ul class="tiles humans modals">
        <li>
          <img src="" alt="" />
          <h2>Martin Hirons</h2>
          <div class="modal">
            <h2>Martin Hirons</h2>
            <h3>Director</h3>
            <p>Martin Hirons has spent his career in the sport business sector and brings a wealth of experience to the Red Dust leadership team. In addition to his role as Chairman of Red Dust Role Models, Martin is the Managing Director of Sport Business Partners, a boutique consulting company working with a range of clients in the Australian sport and events industry. His core expertise is based around business strategy and market research.</p>
          </div>
        </li>
        <li>
          <img src="" alt="" />
          <h2>Martin Hirons</h2>
          <div class="modal">
            <h2>Martin Hirons</h2>
            <h3>Director</h3>
            <p>Martin Hirons has spent his career in the sport business sector and brings a wealth of experience to the Red Dust leadership team. In addition to his role as Chairman of Red Dust Role Models, Martin is the Managing Director of Sport Business Partners, a boutique consulting company working with a range of clients in the Australian sport and events industry. His core expertise is based around business strategy and market research.</p>
          </div>
        </li>
        <li>
          <img src="" alt="" />
          <h2>Martin Hirons</h2>
          <div class="modal">
            <h2>Martin Hirons</h2>
            <h3>Director</h3>
            <p>Martin Hirons has spent his career in the sport business sector and brings a wealth of experience to the Red Dust leadership team. In addition to his role as Chairman of Red Dust Role Models, Martin is the Managing Director of Sport Business Partners, a boutique consulting company working with a range of clients in the Australian sport and events industry. His core expertise is based around business strategy and market research.</p>
          </div>
        </li>
        <li>
          <img src="" alt="" />
          <h2>Martin Hirons</h2>
          <div class="modal">
            <h2>Martin Hirons</h2>
            <h3>Director</h3>
            <p>Martin Hirons has spent his career in the sport business sector and brings a wealth of experience to the Red Dust leadership team. In addition to his role as Chairman of Red Dust Role Models, Martin is the Managing Director of Sport Business Partners, a boutique consulting company working with a range of clients in the Australian sport and events industry. His core expertise is based around business strategy and market research.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  {{/replace}}
{{/extend}}
